*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none; 
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0pxx;
}
.Container-fluid{
    width: 980px;
    margin: 0 auto;
   
}
.nav{
    justify-content: space-between;
    display: flex;
    background:#2f515e;
    color: #fff;
}
.logo{
    margin: 30px;
    float: left;
    padding-left: 30px;
}
.menu{
    display: flex;
}
.menu li {
    padding-left: 2.5em;
    font-size: 15px;
}
.menu li a{
    margin: 30px;
    text-decoration: none;
    padding-right: 15px;
    display: block;
    color: #fff;
}
.menu li a:hover{
    background:orange;
    color: black;
}
.header-top{
    background:url(../images/parallax-1.jpg)repeat-x;
    background-size: cover;
    background-position: center;
    height: 134px;
    width: 100%;
    position: relative;
    margin: 0px auto;
    padding: 300px 0;
    color: #fff;
    text-align: center;

}
.business{
    padding-left: 10px;
    width: 0 auto;
}
.header-margin{
    height: 200px;
    text-align: center;
    background:#f7bb64;
    color: #fff;
}
.content-area{
    height: 300px;
    background: #243238;
    color: #fff;
}
.top-margin {
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    text-decoration: none;
    padding-left: 15px;
    height: 100px;
    margin: 10px;
    padding-top: 15px;
    background:#2f515e;
    padding-bottom: 200px;
    color: #fff;
}article .new-slist{
    padding-top: 50px;
    color:black;
    text-align: left;
}
article .new-slist .row .latest{
    float: right;
}
